<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增文章</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form method="post" action="/article/insert">
        <span>标题</span>
        <input type="text" name="title">
        <span>内容</span>
        <textarea name="content"></textarea>
        <input type="submit" value="提交">
    </form>
</body>
</html>